<div class="sidebar d-flex flex-column mr-50">
	<button class="btn btn-primary btn-icon-primary">
		<i class="fas fa-question mr-5"></i>
		<span>
			Poser une question</span>
	</button>
	<ul class="sidebar-nav py-20">
		<li class="active">
			<i class="fas fa-home mr-5"></i>
			Liste des questions
		</li>
		<li>
			<i class="fas fa-pen mr-5"></i>
			Mes questions</li>
		<li>
			<i class="fas fa-puzzle-piece mr-5"></i>
			Mes réponses</li>

	</ul>
</div>
